html {
    scroll-behavior: smooth;
}

.p-container {
    margin-bottom: 80px;
}

.p-header {
    padding: 10px;
    margin-left: 5vw;
}
.p-content {
    display: block;
    clear:left;
    margin-left: 5vw;
}

.contacts {
    display: inline-block;
    margin-left: 15px;
}

.jumbotron-contact-link {
    font-size: 25px;
    color: #808080;
}

.showcase {
    display:block;
    width: 800px;
    clear:left;
}

.showcase-small {
    display:block;
    width: 25%;
    clear:left;
}

.showcase-content {
    display: inline-block;
    margin-left: 50px;
}

.carousel-control .icon-prev, .carousel-control .icon-next {
    font-size: 100px;
    margin-top: 50px;
    color: #000;
}

.c-control {
    color: #000;
}

.carousel-controls {
    margin-top: 20px;
}

.list-lg-inline {
    vertical-align: top;
    font-size: 18px;
    display: inline-block;
    margin-top: 15px;
    margin-right: 100px;
}

@media (max-width: 1000px) {
    .p-header {
        margin-left: 10px;
    }

    .showcase {
        width: 100%;
        margin-bottom: 30px;
    }

    .showcase-small {
        width: 60%;
        margin-bottom: 30px;
    }

  .showcase-content {
      margin-left: 0px;
      display: block;
      clear: left;
   }
}

@media (max-width: 600px) {
   .navbar-nav {
       display:none;
   }
}