/** {*/
/*    background-color: black;*/
/*    font-family: 'Poppins', sans-serif;*/
/*}*/

body {
    background-color: black;
}

.typed-cursor {
    font-size: 100px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.i-navbar {
    padding: 1rem;
}

.i-theme-hover {
    background-color: #030f1a;
}

.i-navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.i-navbar-scroll {
    background-color: #030f1a;
}

.i-nav-link {
    color: #5c8cff;
}

.i-social-link {
    font-size: 2rem;
    color: white;
}

.i-social-link:hover {
    text-decoration: none;
}

@media (max-width: 1000px) {
    #i-code-svg {
        display: none;
    }
}